{% extends "layout.html" %}

{% block title %}
    Quote Search
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    <p></p>
    <p>
        Stock Symbol: {{symbol}}
    </p>
    <p>
        Stock Value: {{price}}
    </p>
{% endblock %}
