{% extends "layout.html" %}

{% block title %}
    Win
{% endblock %}

{% block main %}
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.hellogiggles.com%2Fuploads%2F2016%2F12%2F09032937%2FSuccess-Kid.jpg&w=450&c=sc&poi=face&q=85"/>
    <script>
     window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.href = "http://5017ae28-5b80-4601-ac65-1ddc1ea12ae6-ide.cs50.xyz/login";
       }, 3000);

 </script>
{% endblock %}